$color-primary: #27282c; 
$color-primary-dark: #212225; 
$color-primary-light: #2d2e33; 
$color-secondary: #c3c3c3;
$color-tertiary: #4e4e4e;
$trash: rgb(230, 144, 15);
$trash-hover: rgb(255, 188, 5);
$color-white: #fff;